.submitBox {
    padding: .5rem;
    font-style: italic;
    border: 2px solid var(--bordered-box-border-color);
}

.submitCodeButton {
    background-color: var(--bg-accent-color);
    color: var(--text-inverted-color);
    padding: 0.5rem 0.75rem;
}

.submitCodeButton:disabled {
    cursor: not-allowed;
    opacity: .5;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 2rem;
    height: 2rem;
    animation: spin 1s linear infinite;
  }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.buttonContainer {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.editorContainer {
    height: 300px;
}